<%=  render partial: 'admin/shared/user_summary', locals: { user: @user } %>
<%=  render partial: 'admin/shared/user_tabs', locals: { user: @user, counts: @counts, selected: :orders } %>

<%= will_paginate @orders %>
<table class="table table-striped table-condensed">
	<tr>
		<th>#</th>
		<th>Date</th>
		<th>Shipped to</th>
		<th>Amount</th>
		<th>Status</th>
	</tr>
	<% @orders.each do | order | %>
	<tr>
		<td><%= link_to order.id.to_s, admin_store_order_path(order) %></td>
		<td><%= systime order.submitted if order.submitted %></td>
		<td><%= order.shipping_name || order.billing_name %></td>
		<td><%= number_to_currency(order.total) %></td>
		<td><%= order_status(order) %></td>
	</tr>
	<% end %>
</table>


<%= content_for :title do %>
	Users: <%= @user.name %>
<% end %>


<% content_for :menu do
    render "admin/shared/system_menu"
end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">System</a></li>
	<li><%= link_to "Users", admin_system_users_path %></li>
	<li class="active"><%= @user.name %></li>
<% end %>
