<%=  render partial: 'admin/shared/user_summary', locals: { user: @user } %>
<%=  render partial: 'admin/shared/user_tabs', locals: { user: @user, counts: @counts, selected: :pictures } %>

<%= will_paginate @pictures %>
<table class="table table-striped table-condensed">
  <tr>
    <th>Picture</th>
    <th>Uploaded</th>
    <th>Dimensions</th>
    <th>Size</th>
    <th>Votes</th>
    <th>&nbsp;</th>
  </tr>
  <% @pictures.each do |pic| %>
      <tr>
        <td>
          <a href="/admin/pictures/<%= pic.id %>/edit">
            <img class="img-polaroid" src="<%= cdn_image_url pic.file_path, 80, 50, 2 %>"/>
          </a>
        </td>
        <td><%= systime pic.created_at %></td>
        <td><%= pic.width %> x <%= pic.height %></td>
        <td><%= readable_file_size(pic.file_size, 1) unless pic.file_size.nil? %></td>
        <td><%= pic.votes || '-'%></td>
        <td>
          <%= link_to "edit", edit_admin_cms_picture_path(pic) %> &nbsp;
          <%= link_to "delete",
                      { action: "destroy", id: pic.id },
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
  <% end %>
</table>

<%= content_for :title do %>
	Users: <%= @user.name %>
<% end %>


<% content_for :menu do
    render "admin/shared/system_menu"
end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">System</a></li>
	<li><%= link_to "Users", admin_system_users_path %></li>
	<li class="active"><%= @user.name %></li>
<% end %>