<h2><i class="fa fa-sitemap"></i> <%= @role.name %></h2>

<hr/>

<%= simple_form_for([:admin, :system, @role], html: { class: 'form-inline' }) do |f| %>
  <b>Name: </b><%= f.input_field :name %> &nbsp; &nbsp;
  <b>Default? </b><%= f.input_field :default %> &nbsp; &nbsp;
  <b>Super user? </b><%= f.input_field :super_user %>
  
  <hr/>
  <% 
  prev_section = ''
  prev_resource = ''
  
  Permission.order(:section, :resource).each do | permission | 
	  
	  checked = ''
	  perm_exists = @role.role_permissions.find { |rp| rp.permission_id == permission.id }
	  checked = 'checked' if perm_exists
	  
	  if permission.section != prev_section %>
	  
		  <% if prev_section != '' %>
	  </table>
	  <% end %>
	  <h4><%= permission.section.titlecase%></h4>
	  <table class="table table-condensed table-bordered summary">
	  <% end
	  
	  if permission.resource != prev_resource %>
	  
		  <% if prev_resource != '' && permission.section == prev_section %>
	  </td></tr>
	  <% end %>
  <tr>
	  <td width="180"><%= permission.resource.titlecase %></td>
	  <td>
	  <% end %>
	  <input type="checkbox" name="permission_ids[]" value="<%= permission.id %>" <%= checked %> class="checkbox inline"> <%= permission.action %> &nbsp; &nbsp;  &nbsp; &nbsp;
  <% 
  prev_section = permission.section
  prev_resource = permission.resource
  end%>
</td>
</tr>
  </table>
  
  <div class="form-actions">
  	 <%= button_tag "Save changes", :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..." } %>
  </div>
<% end %>



<% content_for :title do %>
	Roles: <%= @role.name %>
<% end %>


<% content_for :menu do
    render "admin/shared/system_menu"
end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">System</a></li>
	<li><%= link_to "Roles", admin_system_roles_path %></li>
	<li class="active"><%= @role.name %></li>
<% end %>
