<h2><i class="fa fa-key"></i> Edit Passkey</h2>
<hr/>

<%
  public_key = CBOR.decode(@webauthn_credential.public_key_cbor)
%>

<%= simple_form_for [:admin, :system, @webauthn_credential] do |f| %>
  <table class="table table-bordered table-condensed summary">
    <%= obj_property @webauthn_credential, :credential_id %>
    <%= obj_property(@webauthn_credential, :user) { |x| link_to x.name, admin_system_user_path(x.id) } %>
    <%= obj_property @webauthn_credential, :rp_id %>
    <%= obj_property(@webauthn_credential, :public_key_cbor) { public_key } %>
    <%= obj_property @webauthn_credential, :created_at %>
    <%= obj_property @webauthn_credential, :updated_at %>
    <%= obj_property @webauthn_credential, :last_used %>
  </table>

  <%= render 'admin/shared/error_messages', object: f.object %>
  <%= f.input :nickname %>
  <%= button_tag "Save changes", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ...".html_safe} %>
<% end %>



<% content_for :title do %>
  Edit Passkey
<% end %>