<h2><i class="fa fa-key"></i> Passkeys</h2>
<hr>

<%= render "admin/shared/search_results_header", object: @users %>


<%= will_paginate @webauthn_credentials %>
<table class="table table-striped table-condensed">
  <tr>
    <th>User</th>
    <th>Credential ID</th>
    <th>RP ID</th>
    <th>Nick Name</th>
    <th><%= sortable "last_used" %></th>
    <th><%= sortable "created_at" %></th>
    <th><%= sortable "updated_at" %></th>
    <th class="actions">&nbsp;</th>
  </tr>
  <%= render @webauthn_credentials %>
</table>

<%= render 'admin/shared/table_summary', data: @webauthn_credentials %>



<% content_for :title do %>
  Passkeys
<% end %>


<% content_for :breadcrumbs do %>
  <li><a href="#">System</a></li>
  <li class="active">Passkeys</li>
<% end %>