<%
  website_name = Cache.setting(@user.domain_id, :system, 'Website Name')
%>
<h1 style="font-size: 36px; line-height: 1.2; font-weight: 200; margin: 0px 0 10px;">Welcome to <%= website_name %>, <%= @user.name %></h1>
<p>Hi there,</p>
<p>You have successfully signed up to <%= website_name %>,
   your username is: <%= @user.email %>.</p>
   
<p>
  <a href="<%= Cache.setting(@user.domain_id, :system, 'Website URL') %>" style="font-size: 100%; line-height: 2; color: #FFF; text-decoration: none; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 25px; background-color: #348eda; margin: 20px 10px 0 0; padding: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">Click here to login</a>
</p>

<p style="margin-top: 40px;">Thanks, and have a great day!</p>
    		