<style>
form ul { list-style-type: none;}
form li { margin: 10px; padding-top: 5px; }
form li input { position:relative; top: -4px; }
</style>

<h2><%= @affiliate.name %></h2>


<ul class="nav nav-tabs">
  <li><%= link_to "Summary", edit_admin_system_affiliate_path(@affiliate) %></li> 
  <li class="active"><a href="#">Categories</a></li>
</ul>


<form action="/admin/system/affiliates/<%= params[:id] %>/categories" method="post">
	<%= token_tag %>
	<input type="hidden" name="id" value="<%= params[:id] %>">
<% 	categories = Category.where(entity_type: :affiliate)
	pcats = @affiliate.categories
	top_levels = categories.select { |c| c.parent_id == nil } %>

    <ul>
	<% top_levels.each do |cat| 
		children = categories.select { |c| c.parent_id == cat.id }
        exists = pcats.any? { |c| c.id == cat.id }%>

		<li><input type="checkbox" name="category_ids[]" value="<%= cat.id %>" <%= "checked='checked'" if exists %>/> &nbsp; <%= cat.name %>

          <ul>
		    <% children.each do |child|
                exists = pcats.any? { |c| c.id == child.id }%>
			<li><input type="checkbox" name="category_ids[]" value="<%= child.id %>" <%= "checked='checked'" if exists %>/> &nbsp; <%= child.name %></li>
		    <% end %>
		  </ul>

		</li>
	<% end %>
    </ul>

	<button class="btn btn-primary">Update</button>
</form>


<%= content_for :title do %>
	Affiliates: <%= @affiliate.name %>
<% end %>


<% content_for :menu do
    render "admin/shared/system_menu"
end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">System</a></li>
	<li><%= link_to "Affiliates", admin_system_affiliates_path %></li>
	<li><%= link_to @affiliate.name, admin_system_affiliate_path(@affiliate) %></li>
	<li class="active">edit</li>
<% end %>

