<style>
input.boolean { margin: 0; }
</style>

<h2><i class="fa fa-rocket"></i> <%= @affiliate.name %></h2>

<% unless @affiliate.id.nil? %>
<ul class="nav nav-tabs" style="margin-bottom: 20px;">
  <li class="active"><a href="#">Summary</a></li>
  <li><%= link_to "Categories", categories_admin_system_affiliate_path(@affiliate) %></li>
  <li><%= link_to "Extra Properties", extra_properties_admin_system_affiliate_path(@affiliate) %></li>
</ul>
<% end %>

<%= simple_form_for [:admin, :system, @affiliate] do |f| %>

  <input type="hidden" name="c" value="<%= params[:c] %>">

  <%= render 'admin/shared/error_messages', object: f.object %>
  
  <div class="row">
    <div class="col-md-6">
  	  <%= f.input :name %>
  	  <%= f.input :slug %>
  	  <%= f.input :code %>
  	  <%= f.input :contact_person %>
  	  <%= f.input :street1 %>
  	  <%= f.input :street2 %>
  	  <%= f.input :city %>
  	  <%= f.input :state %>
  	  <%= f.input :zip %>
  	  <%= f.input :country %>
      <%= f.input :discount_percent %>
      <%= f.input :markup_percent %>
      
      <div class="form-group string optional password">
    	  <label class="string col-sm-3 optional control-label" for="logo">Logo</label>
    	  <div class="controls col-sm-9">
    		  <input type="text" id="affiliate_logo" name="affiliate[logo]" value="<%= @affiliate.logo %>" class="string optional span4"/> 
    		  <input type="button" value="Browse Server" class="btn btn-default btn-sm" onclick="javascript:BrowseServer();">
    	  </div>
      </div>
	  
    </div>

    <div class="col-md-6">
  	  <%= f.input :featured %>
  	  <%= f.input :active %>
  	  <%= f.input :phone %>
  	  <%= f.input :fax %>
  	  <%= f.input :email %>
  	  <%= f.input :website %>
      <%= f.input :payment_terms %>
      <%= f.input :tax_exempt %>
      <%= f.input :tax_id, label: "Tax ID" %>
      <%= f.input :purchase_order_email, label: 'PO email' %>
      <%= f.input :shipment_email %>
      <%= f.input :invoice_email %>
    </div>

    <div class="col-md-12">
      <h4>Short Description</h4>
    	<%= f.input_field :summary, class: "form-control text", rows: 3 %>
      <br>
      <h4>Long Description</h4>
    	<%= f.input_field :description, class: "form-control text", rows: 10  %>
      <br>
    	<%= button_tag "Save changes", :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..." } %>
    </div>
  </div>
  
<% end %>


<%= content_for :title do %>
	Affiliates: <%= @affiliate.name %>
<% end %>


<% content_for :menu do
    render "admin/shared/system_menu"
end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">System</a></li>
	<li><%= link_to "Affiliates", admin_system_affiliates_path %></li>
    <% if @affiliate.id.nil? %>
        <li class="active"><%= @affiliate.name %></li>
    <% else %>
	    <li><%= link_to @affiliate.name, admin_system_affiliate_path(@affiliate) %></li>
        <li class="active">edit</li>
    <% end %>
<% end %>


<% content_for :head do %>
	<script type="text/javascript" src="/ckfinder/ckfinder.js"></script>
	<script>

<% unless @affiliate.persisted? %>
    $(document).ready(function() {
      $("#affiliate_name").select();
    });
<% end %>

	function BrowseServer()
	{
		// You can use the "CKFinder" class to render CKFinder in a page:
		var finder = new CKFinder( { connectorPath : '<%= Cache.setting('System', 'Static Files Url') %>/ckfinder/core/connector/php/connector.php' });
		//finder.basePath = '../';	// The path for the installation of CKFinder (default = "/ckfinder/").
		finder.selectActionFunction = SetFileField;
		finder.popup();
	}

	// This is a sample function which is called when a file is selected in CKFinder.
	function SetFileField( fileUrl )
	{
		document.getElementById('affiliate_logo').value = fileUrl.substring(<%= Cache.setting(Rails.configuration.domain_id, 'System', 'Static Files Url').length %>);
	}
	</script>
<% end %>

