<%= link_to edit_admin_system_affiliate_path(@affiliate), class: "btn btn-sm btn-default pull-right" do %>
  <i class="fa fa-edit"></i> Edit
<% end %>
<h2><i class="fa fa-rocket"></i> <%= @affiliate.name %></h2>


<% mods = Rails.configuration.modules %>

<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 12px;">
  <li role="presentation" class="<%= "active" if params[:q].blank? %>"><a href="<%= admin_system_affiliate_path(@affiliate)%>" role="tab">Summary</a></li>
  <% if mods.include? :marketing %>
    <% campaign_count = AffiliateCampaign.where(affiliate_id: @affiliate.id).count %>
    <li role="presentation" class="<%= "active" if params[:q] == "campaigns" %>">
      <a href="<%= admin_system_affiliate_path(@affiliate, q: "campaigns")%>" role="tab"><%= tab_count('Marketing Campaigns', campaign_count) %></a>
    </li>
  <% end %>
  <% if mods.include? :store %>
    <%
       ap_count = AffiliateProduct.where(affiliate_id: @affiliate.id).count 
       order_count = Order.where(affiliate_id: @affiliate.id).count
       po_count = PurchaseOrder.where(supplier_id: @affiliate.id).count
    %>
    <li role="presentation" class="<%= "active" if params[:q] == "products" %>"><a href="<%= admin_system_affiliate_path(@affiliate, q: "products")%>" role="tab"><%= tab_count('Products', ap_count) %></a></li>
    <li role="presentation" class="<%= "active" if params[:q] == "orders" %>"><a href="<%= admin_system_affiliate_path(@affiliate, q: "orders")%>" role="tab"><%= tab_count('Orders', order_count) %></a></li>
    <li role="presentation" class="<%= "active" if params[:q] == "po" %>"><a href="<%= admin_system_affiliate_path(@affiliate, q: "po")%>" role="tab"><%= tab_count("PO's", po_count) %></a></li>
  <% end %>
  <% if mods.include? :edi %>
    <li role="presentation" class="<%= "active" if params[:q] == "edi" %>"><a href="<%= admin_system_affiliate_path(@affiliate, q: "edi")%>" role="tab">EDI Tasks</a></li>
  <% end %>
  <% if mods.include? :billing %>
    <li role="presentation" class="<%= "active" if params[:q] == "payments" %>"><a href="<%= admin_system_affiliate_path(@affiliate, q: "payments")%>" role="tab">Payments</a></li>
  <% end %>
</ul>


<% if params[:q].blank? %>
<div class="arow">
	
	<div class="col-md-8">
		<table class="table table-bordered table-condensed summary">
		  <%= obj_property @affiliate, :id, label: "ID" %>
      <%= obj_property @affiliate, :name %>
      <%= obj_property @affiliate, :slug %>
      <%= obj_property @affiliate, :code %>
		  <%= obj_property @affiliate, :contact_person %>
      <%= obj_property(@affiliate, :address_as_text, label: 'Address') { |x| x.gsub("\n", "<br>")} %>
		  <%= obj_property @affiliate, :phone %>
		  <%= obj_property @affiliate, :fax %>
		  <%= obj_property @affiliate, :website %>
		  <%= obj_property @affiliate, :payment_terms %>
		  <%= obj_property(@affiliate, :description) { |x| x.gsub("\n", "<br>") } %>
      <%= obj_property @affiliate, :purchase_order_email %>
		  <%= obj_property @affiliate, :shipment_email %>
		  <%= obj_property @affiliate, :invoice_email %>
		</table>
    
    <%= render partial: 'admin/shared/extra_properties', locals: { object: @affiliate }%>
    
	</div>
	
	<div class="col-md-4">

		<% unless @affiliate.logo.blank? %>
		<img src="<%= cdn_image_url(@affiliate.logo, 240, 240, 0)%>" alt="logo" class="img-polaroid" />
    <hr/>
		<% end %>
    
    <h4>Flags</h4>
    
    <% if @affiliate.active %>
 		<span class="label label-success">active</span> &nbsp; 
 		<% else %>
 		<span class="label label-danger">disabled</span> &nbsp; 
 		<% end %>

 		<% if @affiliate.featured %>
 		<span class="label label-warning">featured</span> &nbsp; 
 		<% end %>
    
    <hr>
		
		<% if @affiliate.categories.length > 0 %>
		<h4>Categories</h4>
		<ul>
			<% @affiliate.categories.each do |cat| %>
			<li><%= cat.name %></li>
			<% end %>
		</ul>
		<% end %>
	</div>
</div>
<% end %>



<div class="row">
  <div class="col-md-12">
    
    <% if params[:q] == "products" %>
      <% ap_list = AffiliateProduct.joins(:product)
                                   .includes(:product)
                                   .order("store_products.title")
                                   .where(affiliate_id: @affiliate.id).paginate(page: params[:page]) %>
      
      <%= will_paginate ap_list %>
      <table class="table table-striped table-condensed">
      	<tr>
      		<th><input type="checkbox" id="chkAll" /></th>
      		<th>SKU</th>
          <th>Title</th>
      		<th>Aff. SKU</th>
      		<th>Price</th>
      		<th class="text-center">MOC</th>
          <th class="text-center">Lead time</th>
      		<th></th>
      	</tr>
        <%= render partial: 'admin/store/affiliate_products/affiliate_product', collection: ap_list %>
      </table>
      
      <%= link_to new_admin_store_affiliate_product_path(affiliate_id: @affiliate.id), class: "btn btn-sm btn-default pull-right" do %>
        <i class="fa fa-plus"></i> Add new product
      <% end %>
      
      <%= render 'admin/shared/table_summary', data: ap_list %>

    
    <% elsif params[:q] == "orders" %>
    
      <%
        orders = Order.where.not(status: "in cart")
                      .where(affiliate_id: @affiliate.id)
                      .order(submitted: :desc)
                      .paginate(page: params[:page]) 
      %>
  
      <div class="table-summary pull-right">
      	<%= number_with_delimiter(orders.total_entries) %> records
      </div>

      <%= will_paginate orders %>
      <table class="table table-striped table-condensed">
      	<tr>
      		<th><input type="checkbox" id="chkAll" /></th>
      		<th>Order #</th>
          <th>PO / Channel</th>
      		<th>Date</th>
      		<th>Customer</th>
      		<th>Location</th>
      		<th>Amount</th>
          <th>Ship by</th>
          <th></th>
      		<th>Status</th>
      	</tr>
      	 <%= render partial: 'admin/store/orders/order', collection: orders %>
      </table>
      
      <%= render 'admin/shared/table_summary', data: orders %>

      <%= link_to "New Order", new_admin_store_order_path(affiliate_id: @affiliate.id), class: 'btn btn-default' %>

    <% elsif params[:q] == "po" %>
    
    <%
      purchase_orders = PurchaseOrder.where(supplier_id: @affiliate.id).order(issue_date: :desc).paginate(page: params[:page]) 
    %>

    <%= will_paginate purchase_orders %>
    <table class="table table-striped table-condensed">
  		<th>Order #</th>
  		<th>Supplier</th>
  		<th class="text-center">Issue Date</th>
  		<th class="text-center">Due Date</th>
      <th class="text-center">Received</th>
  		<th class="text-center">Amount</th>
  		<th class="text-center">Status</th>
  		<th></th>
    <% for po in purchase_orders%>
      <%= render 'admin/inventory/purchase_orders/purchase_order', purchase_order: po %>
    <% end %>
    </table>
    
    <%= render 'admin/shared/table_summary', data: purchase_orders %>

    <% elsif params[:q] == "payments" %>
    
      <% payments = Payment.where(payable_type: "affiliate", payable_id: @affiliate.id).order(created_at: :desc).paginate(page: params[:page], per_page: 10) %>

      <%= will_paginate payments %>
      <table class="table table-striped table-condensed">
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Memo</th>
          <th>Amount</th>
        </tr>
        <% payments.order('created_at DESC').each do |pmt| %>
        <tr>
          <td><%= pmt.id %></td>
          <td><%= systime pmt.created_at %></td>
          <td><%= pmt.memo%></td>
          <td><%= number_to_currency(pmt.amount, negative_format: "(%u%n)") %></td>
        </tr>
        <% end %>
      </table>
      
      <%= render 'admin/shared/table_summary', data: payments %>

    <% elsif params[:q] == "campaigns" %>
        <% campaigns = AffiliateCampaign.where(affiliate_id: @affiliate.id).order(created_at: :desc)%>

    		<table class="table table-striped table-condensed">
    			<tr>
    				<th>Campaign</th>
    				<th class="text-center">Signup</th>
    				<th class="text-center">Sale</th>
    				<th class="text-center">Raw clicks</th>
    				<th class="text-center">Uniq. clicks</th>
    				<th class="text-center">Signups</th>
    				<th class="text-center">Orders</th>
            <th class="text-center">Conv. A</th>
            <th class="text-center">Conv. B</th>
            <th>Earn</th>
    			</tr>
    			<% campaigns.each do |campaign| 
            earning =  Order.where(affiliate_campaign_id: campaign.id)
                            .where.not(status: ["in cart", "cancelled"])
                            .sum(:total) * campaign.sale_commission / 100.0 
                            
            earning += campaign.signup_commission * campaign.signups
            %>
    			<tr>
    				<td><%= link_to campaign.name, edit_admin_marketing_affiliate_campaign_path(campaign) %></td>
    				<td class="text-center"><%= number_to_currency campaign.signup_commission %></td>
    				<td class="text-center"><%= campaign.sale_commission %>%</td>
    				<td class="text-center"><%= number_with_delimiter(campaign.raw_clicks) %></td>
    				<td class="text-center"><%= number_with_delimiter(campaign.unique_clicks) %></td>
    				<td class="text-center"><%= number_with_delimiter(campaign.signups) %></td>
    				<td class="text-center"><%= number_with_delimiter(campaign.orders) %></td>
            <td class="text-center"><%= (100.0 * campaign.signups / campaign.unique_clicks).round(1) %>%</td>
            <td class="text-center"><%= (100.0 * campaign.orders / campaign.unique_clicks).round(1) %>%</td>
            <td><%= number_to_currency(earning) %></td>
    			</tr>
    			<% end %>
    		</table>
        
    <% elsif params[:q] == "edi" %>
    
      <table class="table table-striped table-condensed">
      	<tr>
      		<th></th>
          <th>FTP Server</th>
      		<th>Affiliate</th>
      		<th>Document Type</th>
          <th>Email</th>
          <th>Printer</th>
          <th>Active</th>
          <th class="actions">&nbsp;</th>
        </tr>
        <%= render partial: 'admin/edi_tasks/edi_task', collection: EdiTask.where(affiliate_id: @affiliate.id)  %>
      </table>
    
      <%= link_to new_admin_edi_task_path, class: 'btn btn-sm btn-default' do %>
        <i class="fa fa-plus"></i> New task
      <% end %>
    
    <% end %>
  </div>
</div>



<% content_for :title do %>
	Affiliates: <%= @affiliate.name %>
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">System</a></li>
  <% if @affiliate.categories.length == 1 %>
    <li><%= link_to @affiliate.categories[0].name, admin_system_affiliates_path(c: @affiliate.categories[0].slug) %></li>
  <% else %>
	  <li><%= link_to "Affiliates", admin_system_affiliates_path %></li>
  <% end %>
	<li class="active"><%= @affiliate.name %></li>
<% end %>
