<h2><i class="fa fa-check-square-o"></i> <%= @setting.section %>: <%= @setting.key%></h2>
<hr/>

<%= simple_form_for [:admin, :system, @setting ]  do |f| %>

	<%= render 'admin/shared/error_messages', object: f.object %>
	
	<%= f.input :section %>
	<%= f.input :key %>
	<%= f.input :value %>
	<%= f.input :value_type, as: :select, collection: [ 'string', 'number', 'boolean'] %>
	<%= f.input :description, as: :text, input_html: { rows: 10 } %>
	
  <%= button_tag "Save changes", :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..." } %>

<% end %>


<% content_for :title do %>
    Settings: <%= @setting.section %>: <%= @setting.key%>
<% end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">System</a></li>
	<li><%= link_to "Settings", admin_system_settings_path %></li>
	<li class="active"><%= @setting.section %>: <%= @setting.key%></li>
<% end %>
