<h2>Update your password</h2>

<div class="bs-callout bs-callout-info">
  Enter new password you wish to use with your account.
</div>

<%= form_for @user, url: {action: "update_password"} do |f| %>

  <blockquote>
    <%= render 'shared/error_messages', object: @user %>

    <input type="hidden" name="token" value="<%= @token.value %>"/>

    <div class="form-group">
      <%= f.label :password, "New Password", class: 'required' %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Retype Password", class: 'required' %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="form-actions">
      <%= f.submit "Update password", class: "btn btn-primary" %>
    </div>
  </blockquote>

<% end %>