<h2><i class="fa fa-globe"></i> <%= @domain.name %></h2>
<hr/>

<%= simple_form_for [:admin, :system, @domain] do |f| %>
  
  <%= render 'admin/shared/error_messages', object: f.object %>
  <%= f.input :name %>
  <%= f.input :url %>
  <%= f.input :data1 %>
  <%= f.input :data2 %>
  <%= f.button :submit %>

<% end %>




<% content_for :title do %>
	Brands: <%= @domain.name %>
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">eCommerce</a></li>
	<li><%= link_to "Domains", admin_system_domains_path %></li>
	<li class="active"><%= @domain.name %></li>
<% end %>


