<%= link_to "new root category", new_admin_system_category_path(type: params[:type]), class: 'btn btn-sm btn-default pull-right' %>
<h2><%= params[:type].titlecase %> Categories</h2>



<% top_levels = @categories.select { |c| c.parent_id == nil } %>
<table class="table table-condensed">
	<tr>
		<th>Sort</th>
		<th>Name</th>
    <th>Code</th>
		<th>Slug</th>
		<th>Visible</th>
		<th class="actions">&nbsp;</th>
	</tr>
	<% top_levels.each do |cat| 
		children = @categories.select { |c| c.parent_id == cat.id }
		%>
	
	<tr class="parent">
		<td><%= cat.sort %></td>
		<td><%= cat.name %></td>
    <td><%= cat.code.presence || '-' %></td>
		<td><%= cat.slug %></td>
		
		<td>
			<% if cat.hidden %>
			<span class="label label-warning">no</span>
			<% else %>
			<span class="label label-success">yes</span>
			<% end %>
		</td>
		<td class="actions">
			<%= link_to "new item", new_admin_system_category_path(type: params[:type], parent_id: cat.id) %> &nbsp;
			<%= link_to "edit", edit_admin_system_category_path(cat) %> &nbsp; 
			<%= link_to "delete", 
						  { action: "destroy", id: cat.id }, 
						  method: :delete, 
						  data: { confirm: "Are you sure?" } %>
			
		</td>
	</tr>
	<% children.each do |child| %>
	<tr class="child">
		<td></td>
		<td> - <%= child.name %></td>
    <td><%= child.code.presence || '-' %></td>
		<td><%= child.slug %></td>
		<td><%= raw tick !child.hidden %></td>
		<td class="actions">
			<%= link_to "edit", edit_admin_system_category_path(child) %> &nbsp; 
			<%= link_to "delete", 
						  { action: "destroy", id: child.id }, 
						  method: :delete, 
						  data: { confirm: "Are you sure?" } %>
			
		</td>
	</tr>
	<% end %>
	<% end %>
</table>


<% content_for :title do %>
	<%= params[:type].titlecase %> Categories
<% end %>



<% content_for :breadcrumbs do %>
	<li><a href="#">Web Content</a></li>
	<li class="active"><%= params[:type].titlecase %> Categories</li>
<% end %>
