<h2>Recent Logins</h2>

<%= will_paginate @logins %>
<table class="table table-striped table-condensed">
	<tr>
		<th>Timestamp</th>
		<th>Name</th>
        <th>Source</th>
		<th>IP Address</th>
		<th>Platform</th>
		<th>Browser</th>
	</tr>
	<% @logins.each do | login | 
		user_agent = UserAgent.parse(login.user_agent)%>
	<tr>
		<td><%= systime login.timestamp %></td>
		<td><%= link_to login.user, admin_system_user_path(login.user)  %></td>
        <td><%= login.source %></td>
		<td><%= login.ip_address %></td>
		<td><%= user_agent.platform %></td>
		<td><%= user_agent.browser %> <%= user_agent.version %></td>
	</tr>
	<% end %>
</table>


<% content_for :title do %>
    Recent Logins
<% end %>

<% content_for :menu do
    render "admin/shared/system_menu"
end %>

<% content_for :breadcrumbs do %>
	<li><a href="#">System</a></li>
	<li class="active">Recent Logins</li>
<% end %>
