<h2><i class="fa fa-bell"></i> New Notification Subscription</h2>
<hr/>
<%= simple_form_for [:admin, :system, @notification_subscription] do |f| %>
  <%= render 'admin/shared/error_messages', object: f.object %>
  <%= hidden_field_tag :ret, params[:ret] %>

  <%= f.association :user, input_html: { class: 'chosen-select' } %>
  <%= f.association :event_type%>
  <%= f.input :email %>
  <%= f.input :sms %>
  <%= f.input :web_push %>
  <%= f.input :mobile_push %>
  <%= f.input :slack %>

  <%= button_tag "Save changes",
                 :class => "btn btn-primary",
                 data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait ..."} %>
<% end %>


<% content_for :title, "New Notification Subscription" %>

<% content_for :breadcrumbs do %>
  <li><a href="#">System</a></li>
  <li><%= link_to "Notifications", admin_system_notifications_path %></li>
  <li class="active">New Notification Subscription</li>
<% end %>

<% content_for :head do %>
    <script>
      $(document).ready(function() {
        $(".chosen-select").chosen({disable_search_threshold: 10});
      });
    </script>
<% end %>