
<div class="pull-right">
  <form style="display: inline;" method="get" id="form-filter" action="/admin/system/notification_subscriptions">
    <%= select_tag(:event_type_id, options_for_select(EventType.all.map { |x| [x.name, x.id] }, selected: params[:event_type_id]), prompt: "- All Event Types -") %>
  </form> &nbsp;
  <%= link_to new_admin_system_notification_subscription_path, class: 'btn btn-sm btn-default' do %>
    <i class="fa fa-plus"></i> New subscription
  <% end %>
</div>


<h2><i class="fa fa-bell"></i>&nbsp; Notification Subscriptions</h2>
<hr>

<%= will_paginate @notification_subscriptions %>
<table class="table table-striped table-condensed">
  <tr>
    <th>User</th>
    <td>Affiliate</td>
    <th>Event Type</th>
    <th>Email</th>
    <th>SMS</th>
    <th>Web Push</th>
    <th>Mobile Push</th>
    <th>Slack</th>
    <th>&nbsp;</th>
  </tr>
  <%= render @notification_subscriptions %>
</table>

<%= render 'admin/shared/table_summary', data: @notification_subscriptions %>


<% content_for :title do %>
  Notification Subscriptions
<% end %>


<% content_for :menu do
  render "admin/shared/system_menu"
end %>

<% content_for :breadcrumbs do %>
  <li><a href="#">System</a></li>
  <li class="active">Notification Subscriptions</li>
<% end %>

<% content_for :head do %>
  <script>
    $(document).ready(function() {

        $("#event_type_id").change(function() {
           $("#form-filter").submit();
        });

    });
  </script>
<% end %>
