<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <title><%= Cache.setting(Rails.configuration.domain_id, :system, 'Website Name')%>: <%= yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Rhombus CMS, Inc.">

    <link href="/rhombus_core/sb-admin-2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/rhombus_core/sb-admin-2/css/sb-admin-2.css" rel="stylesheet">
    <link href="/rhombus_core/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/rhombus_core/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
	  <link href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">

    <script src="/rhombus_core/sb-admin-2/js/jquery-1.11.0.js"></script>
	  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script src="/rhombus_core/sb-admin-2/js/bootstrap.min.js"></script>
    <script src="/rhombus_core/sb-admin-2/js/sb-admin-2.js"></script>
    <script src="/rhombus_core/datetimepicker/jquery.datetimepicker.js"></script>
    <script src="/rhombus_core/sb-admin-2/js/plugins/metisMenu/metisMenu.min.js"></script>
	  <script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
	  <script src="//cdn.tampahost.net/js/rails.js"></script>

	  <%= csrf_meta_tags %>
	  
	  <style>
      body { font-size: 10pt; }
      #page-wrapper { padding-bottom: 20px; }
        .light { color: #ccc; }
        a.dropdown-toggle { color: #ccc; }
        ul { list-style-type: none; }
        table td { font-size: 10pt; }
        .form-horizontal .control-label { width: 120px; }
        .boolean div label { display: inline;}
        
        .numeric { width: 100px; }
		    .short { width: 10%; }
        form.categories ul { list-style-type: none;}
        form.categories li { margin: 5px; }
        .table-condensed { margin-top: 10px; }
        .navbar-static-top .navbar-brand { color: #ccc; }
        .navbar-static-top .navbar-top-links { color: #ccc; }
        .navbar-static-top {  background-color: #333; }
        .nav>li>a { padding-top: 4px; padding-bottom: 6px; }
        .pagination { margin-bottom: 10px; }
		    .breadcrumb { margin-top: 12px; padding: 0 0 4px 0; background-color: transparent; border-bottom: solid 1px #eee; }
        .ralign { text-align: right; }
        .calign { text-align: center; }
        table.items td.dark-border { border-top: solid 1px #333; }
        table.summary>tbody>tr>td:nth-child(1) { font-weight: bold; font-size: 0.85em; text-align: right; padding-right: 12px; background-color: #f9f9f9; }
		    .pagination { margin: 0;}
		    .table-summary { color: #999; }
        #waveform { border: solid 1px #ccc; margin-bottom: 8px; height: 128px; }
        .date-field { background: url(/rhombus_core/datepicker/img/calendar.png) no-repeat 95% center; width: 160px;  }
        .datetime-field { background: url(/rhombus_core/datepicker/img/calendar.png) no-repeat 95% center; width: 220px;  }
        
        @media print {
         .sidebar, .breadcrumb, table .actions, nav { display: none;} 
         #page-wrapper { margin: 0; padding: 0;}
       }
      </style>
      
      <script>
  
      /*var wavesurfer = Object.create(WaveSurfer);
    	var wavesurfer_initialized = false;*/
      
      function popup(current_time,$input){
        alert(current_time);
      }
      

      $(document).ready(function() {
        
        $("#domain-selector").on("change", function() {
          window.location = "/admin/system/domains/" + $(this).val() + "/set_current";
        });
        
        $('.datetime-field').datetimepicker({	formatTime:'g:i A', format: 'Y-m-d h:i A' });
        $('.date-field').datetimepicker({format: 'Y-m-d', timepicker: false, mask: true});
        $('.input-group.date').datepicker({format: 'yyyy-mm-dd', autoclose: true});
    
        /*
        $('.audio').click(function(e) {
            $("#audio-file").val($(this).attr("href"));
            e.preventDefault();
            $("#audio-popup").modal('show');
        });
      
        $("#audio-popup").on('shown.bs.modal', function () {
 
      		if (wavesurfer_initialized == false) {
            wavesurfer.init({
              container: '#waveform',
              waveColor: 'violet',
              progressColor: 'purple',
              normalize: false
            });
			
      			wavesurfer_initialized = true;
      		}
 
          wavesurfer.load($("#audio-file").val());
          wavesurfer.on('ready', function () {
            wavesurfer.play();
          });

          });
      
          $("#audio-popup").on('hidden', function () {      
            wavesurfer.destroy(); 
          });
      
          $('.back').click(function() {
            wavesurfer.skipBackward(); 
          });
      
          $('.forth').click(function() {
            wavesurfer.skipForward(); 
          });
      
          $('.play').click(function() {
            wavesurfer.playPause(); 
          });
      */
        });
      </script>
	  
	  <%= yield :head %>
	</head>



    <body>

    <div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0; ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/admin"><i class="fa fa-home"></i> <%= Cache.setting(:system, "Website Name") %> Administration</a>
    </div>
    <!-- /.navbar-header -->



    <ul class="nav navbar-top-links navbar-right">
    <li>
      <select name="domain_id" id="domain-selector">
      <% Cache.domains.each do |domain| %>
        <option value="<%= domain.id %>" <%= "selected" if cookies["domain_id"] == domain.id.to_s %>><%= domain.name %></option>
      <% end %>
      </select>
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-alerts">
        <li>
          <a href="#">
            <div>
              <i class="fa fa-comment fa-fw"></i> New Comment
              <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>See All Alerts</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
        </li>
        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li class="divider"></li>
        <li><a href="<%= admin_logout_path %>"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->



    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">

      <ul class="nav" id="side-menu">

        <li class="sidebar-search">
          <form action="/admin/search" class="input-group custom-search-form">
           <input type="text" name="q" class="form-control" placeholder="Search...">
           <span class="input-group-btn">
           	<button class="btn btn-default">
            	<i class="fa fa-search"></i>
            </button>
            </span>
          </form>
          <!-- /input-group -->
        </li>

        <li><a href="/admin"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>

    		<%= render "admin/shared/billing_menu" if Rails.configuration.modules.include?(:billing) %>
    		<%= render "admin/shared/callcenter_menu" if Rails.configuration.modules.include?(:callcenter) %>
    		<%= render "admin/shared/cms_menu" if Rails.configuration.modules.include?(:cms) %>
    		<%= render "admin/shared/store_menu" if Rails.configuration.modules.include?(:store) %>
    		<%= render "admin/shared/marketing_menu" if Rails.configuration.modules.include?(:marketing) %>
    		<%= render "admin/shared/pbx_menu" if Rails.configuration.modules.include?(:pbx) %>
    		<%= render "admin/shared/ticketing_menu" if Rails.configuration.modules.include?(:ticketing) %>
        <%= render "admin/shared/system_menu" %>
      </ul>

        <!-- /#side-menu -->
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
    		  <ol class="breadcrumb">
    		  	<%= yield :breadcrumbs %>
    		  </ol>
          <%= render 'admin/shared/error_messages', object: nil %>
          <%= yield %>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

    </div>
    
    <input type="hidden" id="audio-file" value=""/>
    <div id="audio-popup" class="modal fade">
    	<div class="modal-dialog">
    		<div class="modal-content">
    		  <div class="modal-header">
    		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    		    <h4>Voicemail</h4>
    		  </div>

    		  <div class="modal-body">
  
    		    <div id="wave-timeline"></div>
    		    <div id="waveform"></div>

    		    <div class="controls">
    		      <button class="btn btn-primary back">
    		        <i class="icon-step-backward"></i> Backward
    		       </button>

    		       <button class="btn btn-primary play">
    		        <i class="icon-play"></i>
    		          Play
    		          /
    		          <i class="icon-pause"></i>
    		          Pause
    		        </button>

    		        <button class="btn btn-primary forth">
    		          <i class="icon-step-forward"></i>
    		          Forward
    		        </button>
    		    </div>
      	  	  </div>
  
    		  <div class="modal-footer">
    		    <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</a>
    		  </div>
		  
    		</div>
    	</div>
    </div>

    </body>


  </html>
