<style>
    .form-inline .control-label { width: 120px; }
</style>

<h2><i class="icon-bell"></i> <%= @notification.title %></h2>
<hr/>
<%= simple_form_for([:admin, :system, @notification], html: { class: 'form-inline' }) do |f| %>

  <%= render 'admin/shared/error_messages', object: f.object %>
  
  <%= f.input :title, input_html: { class: 'span5' } %>
  <%= f.association :user, hint: '(leave blank for broadcast)'  %>
  <%= f.input :start_time %>
  <%= f.input :expire_time %>
  <%= f.input :web_delivery %>
  <%= f.input :email_delivery  %>
  <%= f.input :sms_delivery %>
  <%= f.input :message, input_html: { class: 'span8', rows: 10 } %>
 
  
  <div class="form-actions">
  	<%= f.button :submit %>
  </div>
<% end %>



<% content_for :title do %>
    <%= @notification.title %>
<% end %>


<% content_for :menu do
    render "admin/shared/system_menu"
end %>


<% content_for :breadcrumbs do %>
	<li><a href="#">System</a></li>
	<li><%= link_to "Notifications", admin_system_notifications_path %></li>
	<li class="active"><%= @notification.title %></li>
<% end %>
