<div class="row">
	<div class="col-md-6">
		<table class="table table-bordered table-condensed summary">
		  <tr>
		  	<td>Role</td>
		    <td><%= user.role.name %></td>
		  </tr>
		  <% unless user.affiliate_id.nil? %>
		  <tr>
		    <td>Affiliate</td>
		    <td><%= link_to user.affiliate, admin_system_affiliate_path(user.affiliate) %></td>
		  </tr>
		  <% end %>
		  <% unless user.email.blank? %>
		  <tr>
		  	<td>Email</td>
		    <td><%= mail_to user.email %> </td>
		  </tr>
		  <% end %>
		  <% unless user.phone.blank? %>
		  <tr>
		  	<td>Phone Number</td>
		    <td><a href="tel:<%= user.phone %>"><%= user.phone %></a></td>
		  </tr>
		  <% end %>
		  <% unless user.birth_date.nil? %>
		  <tr>
		  	<td>Birth Date</td>
		    <td><%= user.birth_date %> </td>
		  </tr>
		  <% end %>
		  <% unless user.gender.blank? %>
		  <tr>
		  	<td>Gender</td>
		    <td><%= user.gender %> </td>
		  </tr>
		  <% end %>
		  <% unless user.pin.blank? %>
		  <tr>
		  	<td>Pin</td>
		    <td><%= user.pin %> </td>
		  </tr>
		  <% end %>
  		  <% unless user.time_zone.blank? %>
  		  <tr>
  		  	<td>Time Zone</td>
  		    <td><%= user.time_zone %> </td>
  		  </tr>
  		  <% end %>
          <% unless user.locale.blank? %>
              <tr>
                <td>Locale</td>
                <td><%= user.locale %> </td>
              </tr>
          <% end %>
          <% unless user.location.blank? %>
              <tr>
                <td>Location</td>
                <td><%= user.location %> </td>
              </tr>
          <% end %>
		</table>
	</div>
	
	<div class="col-md-6">
		<table class="table table-bordered table-condensed summary">
		  <tr>
		  	<td>Referral Key</td>
		    <td><%= user.referral_key %> </td>
		  </tr>
		  <tr>
		  	<td>Referral Clicks</td>
		    <td><%= user.referral_clicks %> </td>
		  </tr>
		  <tr>
		  	<td>Referral Signups</td>
		    <td><%= user.referral_signups %> </td>
		  </tr>
		  <tr>
		  	<td>Joined</td>
		    <td><%= systime user.created_at %> </td>
		  </tr>
		  <tr>
		  	<td>Last Login</td>
		    <td>
				<% last_login = Login.order('timestamp DESC').find_by(user_id: user.id) 
				unless last_login.nil?
				%>
				<%= systime Login.order('timestamp DESC').find_by(user_id: user.id).timestamp %>
				<% else %>
				- never -
				<% end %>
			</td>
		  </tr>
		</table>
	</div>
</div>

<% if user.extra_properties.length > 0 %>
<h4>Extra Properties</h4>
<table class="table table-condensed table-bordered summary">
	<% user.extra_properties.each do |ep| %>
	<tr>
		<td width="160"><%= ep.name %></td>
		<td><%= ep.value %></td>
	</tr>
	<% end %>
</table>
<hr/>
<% end %>
